* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, 'Times New Roman', Times, serif;
}

nav {
  padding: 1.3rem;
}

.navLinks {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.brand {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #0290ff;
}

.links,
.categories {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}

.categories {
  color: rgb(212, 210, 210);
}

.categories:hover {
  color: black;
}
