* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Times New Roman', Times, serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  height: 3rem;
}

.icon {
  border: 2px solid #e8e8e8;
  border-radius: 70%;
  padding: 0.3rem;
}

.navLinks {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.brand {
  margin-right: 3rem;
  font-size: 1.5rem;
  color: #0290ff;
  font-family: Montserrat, 'Times New Roman', Times, serif;
}

.links,
.categories {
  margin-right: 3rem;
  text-decoration: none;
  color: #121212;
  font-size: 0.8rem;
}

.categories {
  color: rgb(212, 210, 210);
}

.categories:hover {
  color: black;
}
