* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book {
  border: 1px solid rgb(211, 207, 207);
  margin: 1rem;
  list-style-type: none;
  padding: 1rem;
  height: 27vh;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  margin-top: 10px;
}

button {
  margin-right: 2rem;
  color: #0290ff;
  border: none;
  background: transparent;
}

form {
  padding: 0 4rem 4rem 4rem;
  background-color: rgb(200, 200, 200, 0.1);
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bookBtn {
  background-color: #0290ff;
  color: white;
  padding: 0.7rem;
  border-radius: 3px;
}

.bookBtn:hover {
  background-color: #7fa5c3;
}

label {
  color: grey;
  font-weight: bold;
  font-size: 1.3rem;
}

input {
  width: 30vw;
  height: 3vh;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.body {
  display: block;
  background-color: rgb(200, 200, 200, 0.1);
  padding: 2rem;
}

.circle {
  border: 5px solid #0290ff;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 50%;
}

small {
  color: rgb(155, 152, 152);
}

.blue {
  color: #0290ff;
}

.status {
  color: rgb(191, 186, 186);
  font-size: 0.9rem;
}

.btn {
  background-color: #0290ff;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.middle {
  display: flex;
  align-items: center;
}

.right,
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
